*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

section {
  padding: 5%;
}

h1, h2 {
  font-weight: bold;
}

p {
  font-size: 1rem;
  line-height: 1.4;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 1.15rem;
}

h2 {
  font-size: 2.3rem;
}

span {
  color: gold;
}

header {
  background-image: url("../images/leaves.jpg");
  background-size: cover;
  min-height:100vh;
  color: white;
  text-align: center;
}
