<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Merriweather|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.6.1/gridlex.min.css"/>
    <link rel="stylesheet" href="style/main.css"/>
    <title> {{page.title}} </title>
  </head>
  <body>

{{content}}

<footer class="grid footer">
  <div class="col-6 padded-5">
    <h2> let's </h2>
    <h2> <span>connect</span> </h2>
    <p> adklhfdksajhfksldf dsklfhdslhsdkjlfsdkljf  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    .</p>
  </div>

    <form class="col-6 padded-5" method="POST" action="https://formspree.io/jeneane0147@aol.com">
      <input type="text" name="name" placeholder="Your name">
      <input type="email" name="email" placeholder="Your email">
      <textarea name="message" placeholder="Tell us what you want to say..."></textarea>
      <button type="submit">SUBMIT</button>
    </form>

</footer>

</body>
</html>
